body, h1, ul {
    margin: 0;
    padding: 0;
}

body { font: 12px/20px arial; }

table { table-layout: fixed; }
td { overflow: hidden; word-wrap: break-word; }

.logo {
    position: fixed;
    left: -32px;
    top: 70px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.logo a {
    display: block;
    background: #d3351e;
    padding: 10px 20px;
    font-weight: normal;
}

.logo a:link, .logo a:visited, .logo a:active, .logo a:hover {
    color: #fff;
    text-decoration: none;
}

.link-list {
    list-style: none;
    margin: 41px 150px 0 100px;
}

.link-list .link-item {
    display: inline-block;
    padding: 0 10px 10px 0;
    *display: inline;
    *zoom: 1;
}

.link-list .link-item > a {
    display: inline-block;
    width: 150px;
    height: 50px;
    background: #2ba6e9;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    padding-top: 100px;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, .2);
    *display: inline;
    *zoom: 1;
}

.link-list .link-item a:link,
.link-list .link-item a:visited,
.link-list .link-item a:active,
.link-list .link-item a:hover {
    color: #fff;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.site-nav {
    position: fixed;
    _position: absolute;
    right: 20px;
    bottom: 50px;
    width: 80px;
    overflow: hidden;
    word-wrap: break-word;
}

.site-nav ul {
    list-style: none;
}

.site-nav a,
.site-nav a:link,
.site-nav a:visited {
    color: #aaa;
    font-size: 18px;
}

.site-nav a:active,
.site-nav a:hover {
    color: #555;
    text-decoration: none;
}
