{% extends 'base.html' %}

{% block title %}Index{% endblock title %}

{% block head %}
    {{ super() }}
    <!--[if lt IE 9]>
    <style>
        .logo { position: static; display: inline-block; *display: inline; *zoom: 1; margin: 20px 0 0 20px; }
        .link-list { margin-left: 20px; }
    </style>
    <![endif]-->
{% endblock head %}

{% set index_links = [
        ('ghSky', 'http://ghsky.com'), ('豆瓣', 'http://www.douban.com'), ('新浪微博', 'http://weibo.cn'),
        ('点点', 'http://www.diandian.com'), ('新浪新闻', 'http://news.sina.com.cn'), ('谷歌', 'http://www.google.com'),
        ('百度', 'http://www.baidu.com'), ('淘宝', 'http://www.taobao.com'), ('天猫', 'http://www.tmall.com'),
        ('京东', 'http://www.360buy.com'), ('V2EX', 'http://www.v2ex.com')
    ]
%}

{% block body %}
    <h1 class="logo"><a href="{{ url_for('index') }}">Index</a></h1>
    {% if not index_links or index_links|length < 0 %}
    <p>No links avaiable.</p>
    {% else %}
    <ul class="link-list"><!--
        {% for link in index_links %}
        --><li class="link-item"><a href="{{ url_for('link', path=link[1]|urlencode) }}">{{ link[0] }}</a></li><!--
        {% endfor %}
    --></ul>
    {% endif %}
    <div class="site-nav">
        <ul>
            <li><a href="{{ url_for('list_records') }}">访问记录</a></li>
        </ul>
    </div>
    <script>setTimeout(function() { window.scrollTo(0, 1); }, 10);</script>
{% endblock %}
